html, body{
        height: 100%;
        margin: 0px;
        padding: 0px
}
#map-canvas{
    height: 50%;
	width: 100%;
    margin: left;
    padding: 0px
}

#map-container{
 
}
#hereMessage, #title{
	font-family: Sans-Serif;
	font-style: bold;
	font-size:64px;
}

#hereMessage{
	text-align:right;
	margin-right: 5%;
}